@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var name = "Bhavya Vaghela";
    var studentnumber = "101427560";
    var coursecode = "COMP2139 - labs tuesday";
}

<!DOCTYPE html >
<html>
    <head>
        <title>About Me !</title>
        <body>

            <h1>Welcome To My Page</h1>
            <p>Name : @name</p>
            <p> student Number : @studentnumber</p>
            <p> Course Code : @coursecode </p>
        </body>
    </head>

    




</html>
